# Application
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
node_modules
web/app/themes/presspack/build
web/app/plugins/all-in-one-seo-pack
web/app/plugins/debug-bar

# WordPress
web/wp
web/.htaccess

# Dotenv
.env

# Composer
/vendor
!vendor/.gitkeep

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# WP Plugins
web/app/object-cache.php
web/app/advanced-cache.php
